################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LeekCodeProblems/bin/Debug/netcoreapp2.1
/src/LeekCodeProblems/obj
/src/LeekCodeProblems.Tests/bin/Debug/netcoreapp2.1
/src/LeekCodeProblems.Tests/obj/Debug/netcoreapp2.1
/src/LeekCodeProblems.Tests/obj
/src/.vs
